on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Testing my action
    steps:
      - name: Hello world action step
        id: hello
        uses: AlahmadiQ8/coda-pack-deploy@v0.0.5
        with:
          path-to-pack-dot-ts: './pack.ts'
          coda-api-token: ${{ secrets.CODA_API_KEY }}
